.amount-item{
    width: 94%;
    margin: 0 auto 2vh;
    padding: 2vw;
    border-radius: 5px;
    border: solid 1px #fff;
    background-color: #fff;
}
.amount-show-title{
    margin: 0 auto 2vh;
    width: 92%;
}
.amount-head-container{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    justify-content: space-between;
}
.amount-number{
    text-align: right;
    font-weight: bold;
}
.amount-memo{
    border: solid 1px #eee;
    padding: 1vh 1vw;
    margin-bottom: 0;
    border-radius: 5px;
}
.amount-tab-container{
    display: flex;
    position: relative;
    border-radius: 10px;
    background: #fff;
}
.amount-tab{
    flex: 1;
    text-align: center;
    position: relative;
    border: solid 1px #eee;
    padding: .5vh 0;

    &.selected{
        color: #009380;
        border-color: #009380;
    }
    &:first-child{
        border-radius: 10px 0 0 10px;
    }
    &:last-child{
        border-radius: 0 10px 10px 0;
    }
}

.amount-each-table{
    width: 100%;
    td, th{
        border: solid 1px #464c4b;
    }
}
.amount-each-item-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount-each-item{
    width: 50%;
    text-align: center;
}
.amount-each-head{
    background-color: #dbefeb;
    padding: 1vh 0;
}
.amount-each-number[data-deficit="true"]{
    color: red;
}
.amount-each-number[data-deficit="false"]{
    color: blue;
}
.amount-register-date{
    text-align: right;
    margin: 1vh 0 0;
}
.amount-times{
    background-image: url(/images/ratio-baloon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount-number-block{
    align-items: flex-end;
}
.private-amount-container{
    padding: 1rem;
    border-radius: 5px;
    border: solid 1px #777;
    background-color: #fff;
    margin-bottom: 2rem;
}
.amount-user-add-button{
    display: block;
    margin: 1vh auto;
}