.start-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.form-btn{
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.4rem;
}
.image-form-block{
    position: relative;
    text-align: center;
    max-height: 40vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-form-preview{
    max-width: 75%;
    background-color: #fff;

    &--empty{
        width: 75vw;
        height: 75vw;
    }
}
.image-form-control{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.form-group-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.form-item-title{
    flex: 1;
}
.form-item-content{
    flex: 3;
}
.btn-underline{
    text-decoration: underline;
}
.checkbox-block{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.checkbox-input{
    width: 1.6rem;
    height: auto;
}
.checkbox-label{
    margin: 0 0 0 .3rem;
}