.hamburger-button{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    box-shadow: none!important;
    transition: .3s;

    &--bar{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 2px;
        background-color: $main-color;
        transform: translate(-50%, -50%);
        border-radius: 2px;

        &::before, &::after{
            content: "";
            position: absolute;
            right: 0;
            height: 2px;
            background-color: $main-color;
            border-radius: 2px;
            transition: .3s;
        }

        &::before{
            width: 120%;
            top: -5px;
        }
        &::after{
            width: 60%;
            bottom: -5px;
        }
    }

    &[data-expanded="true"]{
        transform: translate(-65px, 0);

        .hamburger-button--bar{
            &::before{
                width: 50%;
                top: -3px;
                right: -1px;
                transform: rotate(45deg);
            }
            &::after{
                width: 50%;
                bottom: -3px;
                right: -1px;
                transform: rotate(-45deg);
            }
        }
    }
}