.modal-base{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .3;
        top: 0;
        left: 0;
    }
}
.modal-inner{
    position: absolute;
    width: 100%;
    min-height: 60%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    padding: 2vw;
    overflow-y: scroll;
    opacity: 0;
    transform: translate(0, 100vh);

    &::before{
        content: "";
        background-image: url(/images/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .2;
        top: 0;
        left: 0;
        background-size: 50%;
        z-index: -1;
    }
}
.modal-inner-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    overflow-y: scroll;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}
.modal-inner-button{
    display: flex;
    position: absolute;
    width: 80%;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    justify-content: space-between;

    button{
        margin: 0 .5rem;
    }
}

.js-slide-up-down{
    &[data-visibility="true"]{
        @include animationValue(slideUp, .2, linear, 0, 1, forwards);
    }
    &[data-visibility="false"]{
        @include animationValue(slideDown, .2, linear, 0, 1, forwards);
    }
}

@keyframes slideUp{
0%{
    display: none;
    opacity: 0;
    transform: translate(0, 100vh);
}
1%{
    display: block;
    opacity: 1;
    transform: translate(0, 100vh);
}
100%{
    display: block;
    opacity: 1;
    transform: translate(0, 0)
}
}
@keyframes slideDown{
0%{
    display: block;
    opacity: 1;
    transform: translate(0, 0);
}
99%{
    display: block;
    opacity: 1;
    transform: translate(0, 100vh);
}
100%{
    display: none;
    opacity: 0;
    transform: translate(0, 0)
}   
}