.transaction{
    &-container{
        background-color: #fff;
        padding: 1rem;
    }
    &-item{
        border-bottom: solid 2px #eee;
        padding: .4rem;
    }
    &-item-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-item-left{
        display: flex;
        align-items: center;
    }
    &-item-text{
        margin-bottom: 0;
    }
}